<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>week</key>
	<array>
		<string>不限</string>
		<string>星期一</string>
		<string>星期二</string>
		<string>星期三</string>
		<string>星期四</string>
		<string>星期五</string>
		<string>星期六</string>
		<string>星期日</string>
	</array>
	<key>weight</key>
	<array>
		<string>40</string>
		<string>100</string>
	</array>
	<key>age</key>
	<array>
		<string>18</string>
		<string>80</string>
	</array>
	<key>height</key>
	<array>
		<string>150</string>
		<string>220</string>
	</array>
	<key>nation</key>
	<array>
		<string>不限</string>
		<string>汉族</string>
		<string>壮族</string>
		<string>满族</string>
		<string>回族</string>
		<string>苗族</string>
		<string>维吾尔族</string>
		<string>彝族</string>
		<string>蒙古族</string>
		<string>藏族</string>
		<string>布依族</string>
		<string>侗族</string>
		<string>瑶族</string>
		<string>朝鲜族</string>
		<string>白族</string>
		<string>哈尼族</string>
		<string>哈萨克族</string>
		<string>黎族</string>
		<string>傣族</string>
		<string>畲族</string>
		<string>傈僳族</string>
		<string>仡佬族</string>
		<string>东乡族</string>
		<string>高山族</string>
		<string>拉祜族</string>
		<string>水族</string>
		<string>佤族</string>
		<string>纳西族</string>
		<string>羌族</string>
		<string>土族</string>
		<string>仫佬族</string>
		<string>锡伯族</string>
		<string>柯尔克孜族</string>
		<string>达斡尔族</string>
		<string>景颇族</string>
		<string>毛南族</string>
		<string>撒拉族</string>
		<string>布朗族</string>
		<string>塔吉克族</string>
		<string>阿昌族</string>
		<string>普米族</string>
		<string>鄂温克族</string>
		<string>怒族</string>
		<string>京族</string>
		<string>基诺族</string>
		<string>德昂族</string>
		<string>保安族</string>
		<string>俄罗斯族</string>
		<string>裕固族</string>
		<string>乌孜别克族</string>
		<string>门巴族</string>
		<string>鄂伦春族</string>
		<string>独龙族</string>
		<string>塔塔尔族</string>
		<string>赫哲族</string>
		<string>珞巴族</string>
		<string>其他民族</string>
	</array>
	<key>gender</key>
	<array>
		<string>不限</string>
		<string>女</string>
		<string>男</string>
	</array>
	<key>constellation</key>
	<array>
		<string>不限</string>
		<string>水瓶座</string>
		<string>双鱼座</string>
		<string>白羊座</string>
		<string>金牛座</string>
		<string>双子座</string>
		<string>巨蟹座</string>
		<string>狮子座</string>
		<string>处女座</string>
		<string>天秤座</string>
		<string>天蝎座</string>
		<string>射手座</string>
		<string>摩羯座</string>
	</array>
	<key>religion</key>
	<array>
		<string>不限</string>
		<string>佛教</string>
		<string>道教</string>
		<string>儒教</string>
		<string>伊斯兰教</string>
		<string>基督教</string>
		<string>天主教</string>
		<string>其他宗教</string>
	</array>
	<key>blood</key>
	<array>
		<string>不限</string>
		<string>A</string>
		<string>B</string>
		<string>AB</string>
		<string>O</string>
	</array>
	<key>education</key>
	<array>
		<string>不限</string>
		<string>高中及以下</string>
		<string>大专</string>
		<string>本科</string>
		<string>硕士</string>
		<string>博士</string>
		<string>博士后</string>
	</array>
	<key>animal</key>
	<array>
		<string>不限</string>
		<string>牛</string>
		<string>虎</string>
		<string>兔</string>
		<string>龙</string>
		<string>蛇</string>
		<string>马</string>
		<string>羊</string>
		<string>猴</string>
		<string>鸡</string>
		<string>狗</string>
		<string>猪</string>
		<string>鼠</string>
	</array>
	<key>specialty</key>
	<array>
		<string>不限</string>
		<string>计算机类</string>
		<string>电子信息类</string>
		<string>中文类</string>
		<string>外文类</string>
		<string>经济学类</string>
		<string>金融学类</string>
		<string>管理类</string>
		<string>市场营销类</string>
		<string>法学类</string>
		<string>教育类</string>
		<string>社会学类</string>
		<string>历史类</string>
		<string>哲学类</string>
		<string>艺术类</string>
		<string>图书馆类</string>
		<string>情报档案类</string>
		<string>政治类</string>
		<string>数学类</string>
		<string>统计类</string>
		<string>物理类</string>
		<string>化学类</string>
		<string>生物类</string>
		<string>食堂类</string>
		<string>医学类</string>
		<string>环境类</string>
		<string>地理类</string>
		<string>建筑类</string>
		<string>测绘类</string>
		<string>电气类</string>
		<string>机械类</string>
	</array>
	<key>devLanguage</key>
	<array>
		<string>C</string>
		<string>Java</string>
		<string>Objective-C</string>
		<string>C++</string>
		<string>Swift</string>
		<string>C#</string>
		<string>PHP</string>
		<string>Javascript</string>
		<string>Python</string>
		<string>VB.NET</string>
		<string>Perl</string>
		<string>VB</string>
		<string>R</string>
		<string>Transact-SQL</string>
		<string>PL</string>
		<string>SQL</string>
		<string>Pascal</string>
		<string>Delphi</string>
		<string>Objective Pascal</string>
		<string>Ruby</string>
		<string>F#</string>
		<string>Matlab</string>
		<string>其他编程语言</string>
	</array>
</dict>
</plist>
